:root {
    --grayishblue: hsl(237, 18%, 59%);
    --softred: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Darkdesaturatedblue: hsl(236, 21%, 26%);
    --Verydarkblue: hsl(235, 16%, 14%);
    --Verydarkblue: hsl(234, 17%, 12%);
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;

}

section {
    padding: 2rem 0rem;
    background-image: url(./images/pattern-hills.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-color: var(--Verydarkblue);
    height: 100vh;
    overflow: hidden;

}

section .we {

    text-transform: uppercase;
    margin-top: 2rem;

}

.surface {
    background-image: url(./images/bg-stars.svg);
}

.timeDisplay {
    margin-top: 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* width: 100%; */
}

.inner {
    background-color: var(--Darkdesaturatedblue);
    height: 7rem;
    width: 8rem;
    padding: 1.5rem 0rem 0rem 0rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 4rem;
    color: var(--softred);
    animation: tanimate 10s linear infinite;
    border-radius: 4px;
}

@keyframes tanimate {

    0% {
        border-top: 4px solid var(--softred);
    }

    25% {
        border-right: 4px solid var(--White);
    }

    50% {
        border-bottom: 4px solid blue;
    }

    75% {
        border-left: 4px solid red;
    }
    100% {
        border-top: none;
    }

}

.inner h1 {
    margin-top: 4rem;
}


.attribution {
    margin-top: 3rem;
    color: var(--White);
}

.attribution a {
    color: var(--softred);
}

.social {
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.social img:hover {
    background-color: var(--softred);
}

/* .controlDivs {
    display: flex;
} */